@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}
button {
  font-family: 'Roboto', sans-serif;
}

/* some more reset */

p {margin: 0;}

#app {
  display: flex;
  flex-direction: column;
  background: var(--background-primary);
  align-items: center;
  height: 100%;
  overflow: hidden;
}

:root {
  --color-primary: #66696B;
  --color-muted: #B5B5B5;
  --color-accent: #8EA0DB;
  --color-secondary: #5CB2A3;

  --color-borders: #EAEAEA;

  --background-secondary: #E1F4E4;
  --background-primary: #fff;

  
}